*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.flex{
    display: flex;
}

i{
    font-size: 2rem;
    padding: 0.4rem;
}

ul{
    list-style-type: none;
}

color-green{
    color: #4BC800;
}

header{
    position: absolute;
    bottom: 0;
    background-color: #222222;
    width: 100vw;
    color: white;
}

header .icons{
    text-align: center;}

.arrow{
    width:30px;
    text-align: center;
    font-size: 2rem;
}





