*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.flex{
    display: flex;
}

i{
    font-size: 2rem;
    padding: 0.4rem;
}

ul{
    list-style-type: none;
}

li{
    text-align: center;
    padding: 0 0.5rem;
}

color-green{
    color: #4BC800;
}

header{
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    background-color: #222222;
    width: 100vw;
    color: white;
}

header .icons{
    text-align: center;}

 header .arrow{
    width:30px;
    text-align: center;
    font-size: 2rem;
}

header>button{
    color: red;
    height: 100%;
    background-color: #4A4A4A;
    padding: 1rem;
}





